@define-color background-color #141518;
@define-color border-color     #3A3B40;
@define-color label            #C5C6CA;
@define-color image            #C5C6CA;
@define-color progress         #F2F2F3;
