@define-color selected-text   #F2F2F3;
@define-color text            #A9AAAE;
@define-color base            #0C0D0F;
@define-color border          #3A3B40;
@define-color foreground      #C5C6CA;
@define-color background      #141518;
